---
import '@/styles/roobert.css';
import { Image } from 'astro:assets';
import { motion } from 'framer-motion';
import { Navigation } from '@/components/Navigation';
import { Quote } from '@/components/Quote';
import Container from '@/components/Container.astro';
import Cursor from '@/components/Cursor';
import Header from '@/includes/Header.astro';
import Footer from '@/includes/Footer.astro';
import SeoHead from '@/includes/SeoHead.astro';

const { entry } = Astro.props;
---
<html lang="es" class="md:text-lg">
  <head>
    <SeoHead
      seo={entry.data.seo}
      title={`${entry.data.title} — Javier Diaz`}
    >
      <link rel="canonical" href={`https://coderdiaz.com/jardin/${entry.slug}`} />
    </SeoHead>
  </head>
  <body class="bg-[#100F0F]">
    <Header />
    <main>
      <Container>
        <article class="pt-16 pb-24 md:pb-40">
          <div class="flex flex-col gap-8">
            <motion.div
              client:load
              initial={{ opacity: 0, y: 44 }}
              animate={{ opacity: 1, y: 0 }}
              transition={{ duration: 0.8, delay: 0.2 }}
              className="flex flex-col md:px-8 lg:px-40 gap-4 text-white"
            >
              <h1 class="text-3xl md:text-4xl font-semibold font-display">
                {entry.data.title}
              </h1>
              <time datetime={entry.data.publishedAt} class="text-sm text-stone-400">
                {new Date(entry.data.publishedAt).toLocaleDateString('es-MX', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                })}
              </time>
            </motion.div>
            <motion.div
              client:load
              initial={{ opacity: 0, y: 44 }}
              animate={{ opacity: 1, y: 0 }}
              transition={{ duration: 0.8, delay: 0.4 }}
              className="w-full lg:w-[50rem] mx-auto h-full mt-1 lg:my-1 rounded-2xl overflow-hidden"
            >
              <Image class="object-cover" src={entry.data.featuredImage} alt={entry.data.title} />
            </motion.div>
            <motion.div
              client:load
              initial={{ opacity: 0, y: 44 }}
              animate={{ opacity: 1, y: 0 }}
              transition={{ duration: 0.8, delay: 0.6 }}
              className="mx-auto -mt-2 md:mt-0 prose prose-invert prose-stone"
            >
              <slot />
            </motion.div>
          </div>
        </article>
      </Container>
    </main>
    <Footer />
    <Cursor client:load />
    <Navigation client:idle />
    <Quote client:idle />
  </body>
</html>