---
import '@/styles/roobert.css';
import { Image } from 'astro:assets';
import { Navigation } from '@/components/Navigation';
import { Quote } from '@/components/Quote';
import Container from '@/components/Container.astro';
import Cursor from '@/components/Cursor';
import Header from '@/includes/Header.astro';
import Footer from '@/includes/Footer.astro';
import SeoHead from '@/includes/SeoHead.astro';

const { entry } = Astro.props;
---
<html lang="es">
  <head>
    <SeoHead
      seo={entry.data.seo}
      title={`${entry.data.title} — Javier Diaz`}
    >
      <link rel="canonical" href={`https://coderdiaz.com/jardin/${entry.slug}`} />
    </SeoHead>
  </head>
  <body class="bg-[#100F0F]">
    <Header />
    <main>
      <Container class="max-w-screen-md">
        <article class="pt-16 pb-24 md:pb-40">
          <div class="flex flex-col gap-8">
            <div class="flex flex-col md:px-8 gap-4 text-white">
              <h1 class="text-3xl md:text-4xl font-semibold font-display">
                {entry.data.title}
              </h1>
              <time datetime={entry.data.publishedAt} class="text-sm text-stone-400">
                {new Date(entry.data.publishedAt).toLocaleDateString('es-MX', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                })}
              </time>
            </div>
            <div class="w-full h-full my-1 rounded-2xl overflow-hidden">
              <Image class="object-cover" src={entry.data.featuredImage} alt={entry.data.title} />
            </div>
            <div class="mx-auto prose prose-invert prose-stone">
              <slot />
            </div>
          </div>
        </article>
      </Container>
    </main>
    <Footer />
    <Cursor client:load />
    <Navigation client:idle />
    <Quote client:idle />
  </body>
</html>